# EditorConfig - https://editorconfig.org
# Also read by shfmt, so `shfmt -d` enforces the shell settings below.

root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.sh]
indent_size = 4
# shfmt: indent `case` branches one level
switch_case_indent = true

[*.{yml,yaml}]
indent_size = 2

[*.md]
# Markdown uses trailing spaces for line breaks
trim_trailing_whitespace = false

[Makefile]
indent_style = tab
